body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 48px;
}
.MA{
    color: orange;
}
.flex-cont{
    display: flex;
    padding-bottom: 100px;
    
}
p{
    color: rgba(0, 0, 0, 0.692);
}
.half-w{
    width: 50%;
    padding-left: 6%;
    text-align: left;
    box-shadow: 1;
}
.half-w img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(233, 93, 233),rgb(170, 138, 230));
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.top-b{
    background-image: url(/images/top-banner.png);
    background-repeat: no-repeat;
}
.mid-b{
    background-image: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 20%;
}
.experience-item{
    width: 40%;
    margin: 0% 5% 0% 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;

}
.last-b{
    background-image: url(/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#pone{
    border-left: 5px solid rgb(203, 160, 228);
}
#ptwo{
    border-left: 5px solid rgb(33, 216, 201);
}
footer{
    text-align: center;
}